<div class="overlay" id='popup-alarm'>
    <div class='popup'>
        <table>
            <thead>
                <tr>
                    <th>Container</th>
                    <th>{{data.container}}</th>
                </tr>
                <tr>
                    <th>Device</th>
                    <th>{{data.device}}</th>
                </tr>
                <tr>
                    <th>Value</th>
                    <th>{{data.value}}</th>
                </tr>
            </thead>
        </table>
        <button class="btn btn-danger" onclick="closepopup()">OK</button>
    </div>
    <script>
        function closepopup() {
            $('#popup-alarm').remove();
            window.location.href = '/container/list';
        }
    </script>
</div>