{% for d in data %}
<tr>
    <td>{{d.name}}</td>
    <td>{{d.type}}</td>
    <td>{{d.position}}</td>
    {% if d.status == 1 %}
        <td><i class="fas fa-dot-circle text-primary"></i> Normal</td>
    {% else %}
        <td><i class="fas fa-dot-circle text-danger"></i> Alert</td>
    {% endif %}
    <td>{{d.update_at}}</td>
    <td>
        <a class="text-primary" style="font-size: 25px;" href="/container/init?id={{d.id}}"><i class="fas fa-folder"></i></a>
    </td>
</tr>
{% endfor %}