{% for d in data %}
<tr>
    <td>{{d.name}}</td>
    <td>{{d.device_code}}</td>
    <td>{{d.ampe}}</td>
    <td>{{d.von}}</td>
    <td>{{d.size}}</td>
    <td>
        <a class="text-primary" style="font-size: 25px;" href="/device/init?id={{d.id}}"><i class="fas fa-folder"></i></a>
    </td>
</tr>
{% endfor %}