{% extends "admin_page/layout/base.html" %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Container List</h1>
            <div class="card mb-4">
                <div class="card-body">
                    List of container that your system is trace.
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Container Table
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Position</th>
                                <th>Status</th>
                                <th>Last Update</th>
                                <th class="update-col"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Position</th>
                                <th>Status</th>
                                <th>Last Update</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody id="row_data">
                            {% include "admin_page/includes/container-table.html" %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; alert theaf system 2021</div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/load_data.js' %}"></script>
    <!-- <script src="{% static 'js/ReconnectingWebSocket.min.js' %}"></script> -->
</div>
{% endblock content %}
	