{% extends "admin_page/layout/base.html" %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="card my-5">
                <div class="card-header">
                    <b>Container Setting</b>
                </div>
                <div class="card-body">
                    <form action="/container/update" method="post">
                        {% csrf_token %}
                        <table>
                            <input name="id" value="{{id}}" hidden/>
                            {{ form.as_table }}
                        </table>
                    <div class="d-flex justify-content-center">
                    <input type="submit" value="Update" class="btn btn-primary my-5"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; alert theaf system 2021</div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/load_data.js' %}"></script>
    <!-- <script src="{% static 'js/ReconnectingWebSocket.min.js' %}"></script> -->
</div>
{% endblock content %}
	