{% extends "admin_page/layout/base.html" %} {% load static %} {% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <div class="card mb-4">
                <div class="card-body">
                    List of data is sent from sensor.
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i> Data Table
                </div>
                <div class="card-body">
                    <form class="d-inline-block form-inline ms-auto me-0 my-2">
                        <div class="input-group">
                            <input class="form-control" type="text" name="id" id="containerId" placeholder="Container id" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                            <button class="btn btn-primary" id="container_search" type="button" onclick="getContainerData()"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Container Id</th>
                                <th>Container</th>
                                <th>Sensor</th>
                                <th>Data</th>
                                <th>Range</th>
                                <th>Last Update</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Container</th>
                                <th>Sensor</th>
                                <th>Data</th>
                                <th>Range</th>
                                <th>Last Update</th>
                            </tr>
                        </tfoot>
                        <tbody id="row_data">
                            {% include "admin_page/includes/data-table.html" %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; alert theaf system 2021</div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/load_data.js' %}"></script>
    <!-- <script src="{% static 'js/ReconnectingWebSocket.min.js' %}"></script> -->
</div>
{% endblock content %}