<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a class="nav-link" href="/container/list">
                <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                Container
            </a>
            <a class="nav-link" href="/device/list">
                <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                Setting
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Admin
    </div>
</nav>